<div class="content-wrapper">
  <h2 class="content-title">Welcome to <span style="color: blue;">Sapio</span><span style="color: #00ab41;">Social</span></h2>
  <p class="content">Where sapiosexuals meet.</p>
</div>
