<div class="form-wrapper">
  <form action="/" method="POST" class="form">
    <input type="text" name="username" class="username" placeholder="Username"/><br /><br />
    <input type="password" name="password" class="password" placeholder="Password" /><br /><br />
    <input type="submit" class="submit" name="submit" value="Log In" />
    <%= render "home/divider" %>
    <button class="signup-button" onclick="#">Create a new account</button>
  </form>
</div>
